In [ ]:
# import importlib
# importlib.reload(queries)

from src.db_connection import get_connection
from queries import get_query_discagens, get_query_cad_devf, get_query_mailing_hist
import pandas as pd

conn_src = get_connection("SERVER_SRC", "DATABASE_SRC")

# Tudo em uma linha
df_discagens = pd.read_sql(
    get_query_discagens('2025-09-01', '2025-09-30'), 
    conn_src
)
df_cad_devf = pd.read_sql(
    get_query_cad_devf(), 
    conn_src
)
conn_bd2 = get_connection("SERVER_BD2", "DATABASE_BD2")
df_maling_hist = pd.read_sql(
    get_query_mailing_hist('2025-09-01', '2025-09-30'), 
    conn_bd2
)

In [57]:

# from src.data_wrangling_discagens import tratar_base_discagens
# from src.data_wrangling_mailingHist import tratar_base_mailing_hist
# df_maling_hist = tratar_base_mailing_hist(df_maling_hist)
df_maling_hist.head()
#df_cad_devf.head()

# df_discagens = tratar_base_discagens(df_discagens)
# df_mailing_hist = tratar_base_discagens(df_mailing_hist)

#df_discagens.head()

,DATA,CONTRATO,CPF,ATRASO,COD_CLI,COD_CAR,PRODUTO,FX_ATRASO
0,2025-09-01,38938786ID,40081107000126,116,228,2,API,91-120
1,2025-09-01,46767069ID,49260994000174,146,228,2,API,121-150
2,2025-09-01,41294651ID,27789253000142,85,228,2,API,61-90
3,2025-09-01,41846921ID,46890476000146,53,228,2,API,31-60
4,2025-09-01,46373101ID,57083718000106,24,228,2,API,0-30

In [ ]:
from src.db_connection import get_connection
from queries import get_query_discagens, get_query_cad_devf, get_query_mailing_hist, get_query_discagens_trestto
import pandas as pd

conn_trc = get_connection("SERVER_TRC", "DATABASE_TRC")
df_discagens_trestto = pd.read_sql(
    get_query_discagens_trestto('2025-09-01', '2025-09-30'), 
    conn_trc
)
df_discagens_trestto.head()
# query = f"""
# SELECT 
# 	DATA,
# 	CPF,
# 	SUBSTATUSURA,
# 	'ROBÔ' TIPO,
# 	DISCAGEM,
# 	ALO,
# 	CPC,
# 	CPCA,
# 	PROMESSA 
# FROM DISCAGENS_TRESTTO
# WHERE DATA BETWEEN '2025-09-01' AND '2025-09-30'
# """

OperationalError: ('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Provedor de Pipes Nomeados: Não foi possível abrir uma conexão com o SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]O tempo limite do logon expirou (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Erro relatado pela rede ou específico à instância ao estabelecer conexão com o SQL Server. O servidor não foi encontrado ou não está acessível. Verifique se o nome da instância está correto e se o SQL Server está configurado para permitir conexões remotas. Para obter mais informações, consulte os Manuais Online do SQL Server. (53)')

In [ ]:
# # >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CARREGANDO BASE DE ACIONAMENTOS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<#

# query = f"""
#     SELECT 
# 		CAST(A.DATA_ACIONA AS DATE) DATA_ACIONA,
#         CAST(DATA_ACIONA2 AS DATE) AS DATA,
#         A.CONTRATO_FIN,
#         C.CPF_DEV,
#         B.COD_ACIONAMENTO,
#         B.DESC_ACIONAMENTO,
#         C.DTDEVOL_FIN,
#         C.VALORPRIN_FIN,
#         C.VALOR_FIN,
#         C.COD_CLI,
#         C.COD_CAR,
#         'HUMANO' TIPO,
#     FROM ACIONA D
#     LEFT JOIN CAD_ACIONAMENTO B ON A.COD_ACIONAMENTO = B.COD_ACIONAMENTO
#     WHERE CAST(DATA_ACIONA2 AS DAT4) BETWEEN '{dt_ini}' AND '{dt_fim}' AND COD_RECUP NOT IN (15721)
# """
# df_aciona = pd.read_sql(query, conn)
# df_aciona.head()

df_aciona = pd.read_sql(f"SELECT DATA_ACIONA2 FROM ACIONA", conn)
df_aciona.head()

C:\Users\claudiano.alves\AppData\Local\Temp\ipykernel_28272\2222970998.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_aciona = pd.read_sql(f"SELECT DATA_ACIONA2 FROM ACIONA", conn)

In [1]:
# >>>>>>>>>>>>>>>>>>>>>>>>>>> TESTES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
# tipo da coluna

# >>>>>>>>>>>>>>>>>>>>>>> VERIFICAR TIPO DE DADO DE UMA COLUNA ESPECÍFICA
#print(df_discagens['ddd'].dtype)
# primeiros valores (mostra índices também)
#df_discagens['ddd'].head(30)

# >>>>>>>>>>>>>>>>>>>>>>> MOSTRAR PARTE DO DATAFRAME
# df_discagens.head()

# >>>>>>>>>>>>>>>>>>>>>>> FILTRAR DADOS DE UMA COLUNA ESPECÍFICA
# df_ativo = df_mailing_hist[df_mailing_hist['ID_CAR'].notna()]
# df_ativo.head()

# import pandas as pd
# Supondo que seu DataFrame seja 'df'

valores_unicos = df_cad_devf['DESC_CAR'].unique()
print(valores_unicos)

# >>>>>>>>>>>>>>>>>>>>>>> CONTAR VALORES ÚNICOS DE UMA COLUNA ESPECÍFICA
# len(df_ativo)
# df_discagens['OPERACAO'].value_counts().reset_index().rename(columns={'index': 'OPERACAO', 'OPERACAO': 'QTD'})
#  print(filtro)
#len(df_discagens)
#print("Linhas:", df_discagens.shape[0], " | Colunas:", df_discagens.shape[1])
#df_discagens.columns.tolist()
#df_discagens['Agente'].unique()
#type(df_discagens)

# >>>>>>>>>>>>>>>>>>>>>>> resumo por estado
# df_resumo = (
#     df_discagens
#     .groupby('ESTADO')['CPF']
#     .nunique()
#     .reset_index()
#     .rename(columns={'CPF': 'QTD_CPF_DISTINTOS'})
#     .sort_values(by='QTD_CPF_DISTINTOS', ascending=False)
# )
# df_resumo.head()
# print(df_resumo)
# >>>>>>>>>>>>>>>>>>>>>>>>>>> TESTANDO AS CONEXÕES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
# server = os.getenv('SERVER_db2')
# database = os.getenv('DATABASE_bd2')
# print(f"Valor do Servidor: {server}")
# print(f"Valor do Banco de Dados: {database}") 

# >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FECHANDO AS CONEXÕES <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<#
# if 'conn' in locals() and conn:
#     conn.close()
#     print("Conexão com o banco de dados fechada com sucesso.")

NameError: name 'df_cad_devf' is not defined